<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/plants/tabs/display'"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdatePlant()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center>
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nazwa</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="name"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating"> Wybierz kategorię</ion-label>
            <ion-select okText="Okej" cancelText="Odrzuć" formControlName="category">
              <ion-select-option value="{{ category.id }}" *ngFor="let category of categories">{{ category.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </form>
</ion-content>
